<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
      <p>
	    <label for="x1">Плотность, кг/м3:</label>
	    <input type="float" name="x1">
	</p>
	<p>
	    <label for="x2">Модуль упругости, Гпа</label>
	    <input type="float" name="x2">
	</p>
	<p>
	    <label for="x3">Количество отвердителя, м.%</label>
	    <input type="float" name="x3">
	</p>
	<p>
	    <label for="x4">Содержание эпоксидных групп,%_2%</label>
	    <input type="float" name="x4">
	</p>
	<p>
	    <label for="x5">Температура вспышки, С_2%</label>
	    <input type="float" name="x5">
	</p>
	<p>
	    <label for="x6">Поверхностная плотность, г/м2%</label>
	    <input type="float" name="x6">
	</p>
	<p>
	    <label for="x7">Модуль упругости при растяжении, Гпа</label>
	    <input type="float" name="x7">
	</p>
	<p>
	    <label for="x8">Прочность при растяжении, Мпа</label>
	    <input type="float" name="x8">
	</p>
	<p>
	    <label for="x9">Потребление смолы, г/м2</label>
	    <input type="float" name="x9">
	</p>
	<p>
	    <label for="x10">Угол нашивки, град</label>
	    <input type="float" name="x10">
	</p>
	<p>
	    <label for="x11">Шаг нашивки</label>
	    <input type="float" name="x11">
	</p>
	<p>
	    <label for="x12">Плотность нашивки</label>
	    <input type="float" name="x12">
	</p>
	<p>
	    <label for="submit">Соотношение Матрица-Наполнитель</label>
	    <input type="submit">
	</p>
    </form>

</body>
</html>